@using CursoMVC5.Models
@model Empleado_CLS

@{
    ViewBag.Title = "Editar";

    List<SelectListItem> ListaTipoUsuario = (List<SelectListItem>)ViewBag.ListaTipoUsuario;
    List<SelectListItem> ListaTipoContrato = (List<SelectListItem>)ViewBag.ListaTipoContrato;
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.ListaSexo;

}

<h2>Editar</h2>


<div class="container">
    @using (Html.BeginForm("Editar", "Empleado", FormMethod.Post ,new { @id="frmEmpleado" }))
    {
        <div class="row mt-3">
            <div class="col">
                @Html.LabelFor(p => p.IidEmpleado)
                @Html.TextBoxFor(p => p.IidEmpleado, new { @class = "form-control",@readOnly=true })
                @Html.ValidationMessage("IidEmpleado", new { @class = "text-danger" })
            </div>

            <div class="col">
                @Html.LabelFor(p => p.Nombre)
                @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(p => p.ApPaterno)
                @Html.TextBoxFor(p => p.ApPaterno, new { @class = "form-control" })
                @Html.ValidationMessage("ApPaterno", new { @class = "text-danger" })
            </div>

            <div class="col">
                @Html.LabelFor(p => p.ApMaterno)
                @Html.TextBoxFor(p => p.ApMaterno, new { @class = "form-control" })
                @Html.ValidationMessage("ApMaterno", new { @class = "text-danger" })
            </div>

            <div class="col">
                @Html.LabelFor(p => p.FechaContrato)
                @Html.EditorFor(p => p.FechaContrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("FechaContrato", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row mt-3">
            <div class="col">
                @Html.LabelFor(p => p.Sueldo)
                @Html.TextBoxFor(p => p.Sueldo, new { @class = "form-control" })
                @Html.ValidationMessage("Sueldo", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(p => p.IidTipoUsuario)
                @Html.DropDownList("IidTipoUsuario", ListaTipoUsuario, null, new { @class = "form-control" })
                @Html.ValidationMessage("IidTipoUsuario", new { @class = "text-danger" })
            </div>

            <div class="col">
                @Html.LabelFor(p => p.IidTipoContrato)
                @Html.DropDownList("IidTipoContrato", ListaTipoContrato, null, new { @class = "form-control" })
                @Html.ValidationMessage("IidTipoContrato", new { @class = "text-danger" })
            </div>

            <div class="col">
                @Html.LabelFor(p => p.IidSexo)
                @Html.DropDownList("IidSexo", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("IidSexo", new { @class = "text-danger" })
            </div>

        </div>

        <div class="mt-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Guardar
            </button>
            @Html.ActionLink("Regresar", "Index", "Empleado", null, new { @class = "btn btn-danger" })


        </div>
    }
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Desea guardar los cambios?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Aceptar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>


    function Aceptar() {
        var frmEmpleado = document.getElementById("frmEmpleado")
        frmEmpleado.submit();
    }

</script>



