
@model CursoMVC5.Models.Bus_CLS

@{
    ViewBag.Title = "Editar";
    List<SelectListItem> listaTipoBus = (List<SelectListItem>)ViewBag.listarTipoBus;
    List<SelectListItem> listaMarca = (List<SelectListItem>)ViewBag.listarMarca;
    List<SelectListItem> listaModelo = (List<SelectListItem>)ViewBag.listarModelo;
    List<SelectListItem> listaSucursal = (List<SelectListItem>)ViewBag.listarSucursal;


}

<h2>Editar</h2>

@using (Html.BeginForm("Agregar", "Bus", FormMethod.Post, new { @id = "frmBus" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bus_CLS</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.IidSucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IidSucursal", listaSucursal, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IidSucursal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IidTipoBus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IidTipoBus", listaTipoBus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IidTipoBus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.placa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.placa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.placa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCompra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCompra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaCompra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IidModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IidModelo", listaMarca, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IidModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroFilas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroFilas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroFilas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroColumnas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroColumnas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroColumnas, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IidMarca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IidMarca", listaMarca, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IidMarca, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Guardar
            </button>
            @Html.ActionLink("Regresar", "Index", "Bus", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Desea guardar los cambios?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Aceptar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>


    function Aceptar() {
        var frmBus = document.getElementById("frmBus")
        frmBus.submit();
    }

</script>
