@using CursoMVC5.Models
@model List<Marca_CLS>
@{
    ViewBag.Title = "Index";

}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<h2>Index</h2>

@Html.ActionLink("Agregar", "Agregar", "Marca", null, new { @class = "btn btn-primary mb-3" })

<table class="table table-bordered ">
    <thead class="table-danger table-hover">
        <tr>
            <td width="10%">@Html.LabelFor(p => Model[0].iidMarca)</td>
            <td width="20%">@Html.LabelFor(p => Model[0].nombre)</td>
            <td width="60%">@Html.LabelFor(p => Model[0].descripcion)</td>
            <td width="10%">Operaciones</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="10%">@item.iidMarca</td>
                <td width="15%">@item.nombre</td>
                <td>@item.descripcion</td>
                <td class="text-center">
                    @Html.ActionLink("🖋️", "Editar", "Marca", new { id = @item.iidMarca }, new { @class = "fa-solid fa-pen-to-square" })               

                    
                    @Html.ActionLink("🚮", "Eliminar", "Marca", new { id = @item.iidMarca }, new { @class = "glyphicon glyphicon-trash" })
                </td>

            </tr>

        }
    </tbody>

</table>

