@using CursoMVC5.Models
@model List<Cliente_CLS>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">

        <div class="col">
            <h2>Index</h2>
            @Html.ActionLink("Agregar", "Agregar", "Cliente", null, new { @class = "btn btn-primary" })
        </div>

    </div>

    

    <div class="row mt-3">

        <table class="table table-striped">

            <thead class="table-dark">
                <tr>
                    <td>@Html.LabelFor(p => Model[0].Iidcliente)</td>

                    <td>@Html.LabelFor(p => Model[0].Nombre)</td>

                    <td>@Html.LabelFor(p => Model[0].ApePaterno)</td>

                    <td>@Html.LabelFor(p => Model[0].ApeMaterno)</td>

                    <td>@Html.LabelFor(p => Model[0].TelefonoFijo)</td>

                    <td>Operaciones</td>

                </tr>

            </thead>

            <tbody>

                @foreach (var cliente in Model)
                {

                    <tr>
                        <td>@cliente.Iidcliente</td>

                        <td>@cliente.Nombre</td>

                        <td>@cliente.ApePaterno</td>

                        <td>@cliente.ApeMaterno</td>

                        <td>@cliente.TelefonoFijo</td>
                        <td>

                            @Html.ActionLink("🖋️", "Editar", "Cliente", new { id = @cliente.Iidcliente }, new { @class = "btn btn-warning" })
                            @*@Html.ActionLink("🚮", "Eliminar", "Cliente", new { id = @cliente.Iidcliente }, new { @class = "btn btn-danger" })*@
                            
                            <button type="button" onclick="mostrarPop(@cliente.Iidcliente)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                🚮
                            </button>
                                
                            
                        </td>

                    </tr>

                }

            </tbody>



        </table>


    </div>

</div>

@using (Html.BeginForm("Eliminar", "Cliente", FormMethod.Post, new { @id = "frmEliminar" }))
{
    @Html.Hidden("iidcliente",Model)


}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Desea Eliminar este cliente?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function mostrarPop(iidcliente) {
        document.getElementById("iidcliente").value = iidcliente;
    }

    function eliminar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }

</script>






